<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml.org">
<head>
  <meta charset="UTF-8">
  <title>Update person</title>
</head>
<div>
  <th:block th:include="menu">Menu</th:block>
</div>
<h1>Заполните анкету</h1>
<body>
  <form action="#" th:action="@{/admin/new}" th:object="${user}" th:method="post" >
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email" required/>
    <br/>
    <label for="password">Пароль: </label>
    <input type="text" th:field="*{password}" id="password" required/>
    <br/>
    <label for="firstName">Имя: </label>
    <input type="text" th:field="*{firstName}" id="firstName" required/>
    <br/>
    <label for="lastName">Фамилия: </label>
    <input type="text" th:field="*{lastName}" id="lastName" required/>
    <br/>
    <label>
      <input type="checkbox" name="roleAdmin" th:value="ADMIN" th:text="Администратор">
    </label>
    <label>
      <input type="checkbox" name="roleUser" th:value="USER" th:text="Пользователь">
    </label>
    <button type="submit">Сохранить пользователя</button>
  </form>

</body>
</html>